ul.builder-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    li a {
        display: block;
        float: left;
        text-align: center;
        padding: 8px 16px;
        border: 1px solid #999;
        border-bottom: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #e2e2e2;
        margin-bottom: 10px;
        text-decoration: none;
        color: black;

        &.active {
            background-color: white;
            font-weight: 600;
        }

        &:hover {
            background-color: #f8f8f8;
        }
    }
}

.tab {
    
    &.inactive {
        display: none;
    }
}

input,
select {
    padding: 4px;
    border-radius: 4px;
}

button.btn {
    &.btn-default {
        background-color: white;
        border-radius: 4px;
        padding: 8px;
    }
}

.info {
    padding: 0 0 20px 0;

    &-row {
        width: 600px;
        display: flex;
        flex-direction: row;

        > div {
            width: 50%;

            > label {
                display: inline-block;
                width: 30%;
            }
            > select {
                width: 60%;
            }
        }
    }
}

.details {
    width: 600px;
    padding: 0 0 20px 0;

    &-row {
        width: 100%;
        display: flex;

        > div {
            width: 50%;

            > label {
                display: inline-block;
                width: 30%;
            }
        }
    }
}

.class-levels {
    display: block;

    .class-level {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #999;

        .level {
            width: 50px;
        }

        .class {
            width: 150px;
        }

        .icon {
            width: 50px;

            svg.icon {
                cursor: pointer;

                &.icon-edit {
                    width: 12px;
                }

                &.icon-check,
                &.icon-clear {
                    width: 20px;
                }

            }
        }

        .class-details {
            width: 400px;
            display: flex;
            flex-direction: column;    
            padding-left: 8px;
            border-left: 1px solid #999;
        }
    }
}

.feats {
    .feat-level {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #999;

        .level {
            width: 50px;
        }

        .feat {
            width: 250px;
        }

        .icon {
            width: 50px;

            svg.icon.icon-plus {
                width: 20px;
                cursor: pointer;
                position: fixed;
            }

            svg.icon.icon-ban {
                width: 25px;
                cursor: pointer;
                position: fixed;
            }
        }
    }
}

.skills {
    width: 750px;

    .skill {

        display: flex;
        flex-direction: row;
        text-align: center;

        .skill-class-skill {
            width: 5%;
        }

        .skill-name {
            width: 30%;
            text-align: start;
        }

        .skill-total {
            width: 8%;
        }

        .skill-ability {
            width: 8%;
            text-align: center;
        }

        .skill-ability-mod {
            width: 8%;
        }

        .skill-ranks {
            width: 8%;
        }

        .skill-misc {
            width: 8%;
        }

        input {
            width: 75%;
            text-align: center;
        }
    }
}